{% extends "layout/base.html" %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static "profile/css/styles.css" %}">
{% endblock styles %}

{% block header %}
	<h1 class="display-4">Hallo {{ user }}</h1>
{% endblock header %}

{% block content %}	
<!-- About Me -->
<div id="About">
	<div class="container">
		<div class="row">
			<div class="col">
				<div id="AboutData">
					<div class="card bg-white">
						<div class="card-title my-5">
							<div class="media">
								<img src="{% static "img/my_photo.png" %}" width="250" height="250" class="img-fluid rounded-top mx-5 d-none d-lg-block" alt="">
								<div class="media-body">
									<h3 class="display-4 ml-5"> I'm {{ name }}</h3>
									<p class="text-muted ml-5" >{{ interest }}</p>
									<div class="container">
										<table class="table table-responsive ml-4">
											<tr>
												<td >Age</td>
												<td>:</td>
												<td>{{ age }} Years Old</td>
											</tr>
											<tr>
												<td>Email</td>
												<td>:</td>
												<td>{{ email }}</td>
											</tr>	
											<tr>
												<td>Phone</td>
												<td>:</td>
												<td>{{ phone }}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer bg-light d-none d-lg-block">
							<a href="https://www.instagram.com/rvllfil/"><i class="fab fa-instagram fa-2x mx-3"></i></a>
							<a href="https://twitter.com/rvllfil/"><i class="fab fa-twitter fa-2x mx-3"></i></a>
							<a href="https://github.com/rvllfil/"><i class="fab fa-github fa-2x mx-3"></i></a>
							<a href="https://gitlab.com/rvllfil"><i class="fab fa-gitlab fa-2x mx-3"></i></a>
							<a href="https://www.linkedin.com/in/rully-fildansyah-7a85b0168/"><i class="fab fa-linkedin fa-2x mx-3"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section name="contact" class="contact container-fluid py-5">
	<div class="container">
		<div class="d-flex flex-column align-items-center">
			<h1>Contact Me</h1>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center py-3">
				<i class="fas fa-envelope-open-text"></i>
			</div>
			<div class="col-md-6 col-sm-12 px-5 py-5">
				<form id="form" method="POST" action="{% url 'profile:add_message' %}">
					{% csrf_token %}
					{{ message_form }}
					<br>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock content %}	
	

