{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{{ name }}</title>
	{% include "snippets/styles.html" %}
	<link rel="stylesheet" href="{% static 'lab_1/css/styles.css' %}">
</head>

<body>

	{% include "snippets/navbar.html" %}

	<div class="container">
		<div class="container bg-dark text-light">
			<div class="row" style="
			height: 200px;
			margin-top: 20px;
			"></div>
			<h3>{{ pengalaman1_judul }}</h3>
			<h6>{{ pengalaman1_tempat }}  {{ pengalaman1_tahun }}</h5>
			<br>
			<p>{{ pengalaman1_deskripsi }}</p>
		</div>
		<div class="container bg-dark text-light">
			<div class="row" style="
			height: 200px;
			margin-top: 20px;
			"></div>
			<h3>{{ pengalaman2_judul }}</h3>
			<h6>{{ pengalaman2_tempat }}  {{ pengalaman2_tahun }}</h5>
			<br>
			<p>{{ pengalaman2_deskripsi }}</p>
		</div>
		<div class="container bg-dark text-light">
			<div class="row" style="
			height: 200px;
			margin-top: 20px;
			"></div>
			<h3>{{ pengalaman3_judul }}</h3>
			<h6>{{ pengalaman3_tempat }}  {{ pengalaman3_tahun }}</h5>
			<br>
			<p>{{ pengalaman3_deskripsi }}</p>
		</div>
	</div>

	{% include "snippets/scripts.html" %}
</body>

</html>