{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{{ name }}</title>
	{% include "snippets/styles.html" %}
	<link rel="stylesheet" href="{% static 'resume/css/styles.css' %}">
</head>

<body>

	{% include "snippets/navbar.html" %}

	<section class="mt-5">
		<div class="container text-center">
			<br><br><br><br><br><br>
			<h1>Mohon maaf portfolio belum tersedia untuk saat ini</h1>
		</div>
	</section>


		<!-- footer -->
	{% include "snippets/footer.html" %}
	
	
	<!-- script js bootstrap -->
	{% include "snippets/scripts.html" %}

</body>

</html>