{% load static %}

<style>

</style>
<link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet"> 
<style>
	.navbar-brand {
		font-family: viga;
		font-size:  65px;
	}

	.display-4 {
		margin-top: 10%;
		margin-left: 3%;
		font-family: viga;
		color: white;
	}

	h5 {
		margin-left: 3%;
		font-family: viga;
		color: white;
	}

	.jumbotron {
	background-image: url({% static 'img/rocket.jpg' %});
	background-size: cover;
	height: 600px;
}
</style>
<link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">