{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}Rully Fildansyah{% endblock title %}</title>
	{% include "partials/styles.html" %}
	{% block styles %}{% endblock styles %}
</head>

<body>

	<!-- navbar -->
	{% include "partials/navbar.html" %}

	<!-- header -->	
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
  			{% block header %}
    		<h1 class="display-4">Welcome to My Portfolio</h1>
  			{% endblock header %}
  		</div>
	</div>	

	<!-- content -->
	{% block content %}
		
	{% endblock content %}

	<!-- footer -->
	{% include "partials/footer.html" %}

	<!-- scripts js bootstrap -->
	{% include "partials/scripts.html" %}


</body>
</html>